In [1]:
import sys
sys.path.append('../lib') 
from gerenciamento_banco import *
from ExtracaoDados import *
from transformacao import *

Criando o Banco de Dados

In [2]:
banco_prata = GerenciadorBanco("../banco_dados/db_prata.db")
banco_prata.criar_banco_dados()

Banco criado com sucesso!

Criando tabela no Banco de Dados

In [3]:
colunas = {
    "id": "TEXT",
    "categoria": "TEXT",
    "subCategoria": "TEXT ",
    "nomeProduto": "TEXT"
}

banco_prata.criar_tabela("produto", colunas)

Tabela 'produto' criada com sucesso!

Carregando tabela

In [4]:
extracao = ExtracaoDados()

In [5]:
df = extracao.carregar_tabela_sqlite3(tabela = "produto", nome_banco = "../banco_dados/db_bronze.db")

In [6]:
df.head()

,ID_Produto,Categoria,SubCategoria,Nome_Produto
0,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
1,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
2,FUR-CH-10003950,Moveis,Chairs,"Novimex Executive Leather Armchair, Black"
3,TEC-PH-10004664,Tecnologia,Phones,"Nokia Smart Phone, with Caller ID"
4,TEC-PH-10004583,Tecnologia,Phones,"Motorola Smart Phone, Cordless"

Renomear Colunas

In [7]:
tf = Transformacao(df)

In [8]:
mapeamento = {
    "ID_Produto": "id",
    "Categoria": "categoria",
    "SubCategoria": "subCategoria",
    "Nome_Produto" : "nomeProduto"

}
df=tf.renomear_colunas(mapeamento)

Remover dados duplicados

In [9]:
df = tf.remover_duplicatas(df)

Salvar dados na tabela

In [10]:
banco_prata.inserir_dados("produto", df)

10292 registros inseridos com sucesso!