 # Script principal que executa o ETL

In [1]:

import sys
sys.path.append('./lib') 
from gerenciamento_banco import *
from extracao import *

In [2]:
banco = GerenciadorBanco("base_geral.db")

In [7]:
banco.listar_tabelas()

In [4]:
colunas = {
    "id": "TEXT PRIMARY KEY",
    "categoria": "TEXT NOT NULL",
    "subCategoria": "TEXT NOT NULL",
    "nomeProduto": "TEXT NOT NULL"
}

banco.criar_tabela("produto", colunas)

Tabela 'produto' criada com sucesso!

In [5]:
banco.listar_tabelas()

produto

In [ ]:
extracao = ExtracaoDados()

In [8]:
df_produtos = extracao.carregar_tabela_sqlite3("produto", "base_geral.db")
print(df_produtos)

Empty DataFrame
Columns: [id, categoria, subCategoria, nomeProduto]
Index: []

In [9]:
df = extracao.carregar_csv("scripts1\\Produtos.csv")
df.head()

,ID Produto,Categoria,SubCategoria,Nome Produto
0,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
1,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
2,FUR-CH-10003950,Moveis,Chairs,"Novimex Executive Leather Armchair, Black"
3,TEC-PH-10004664,Tecnologia,Phones,"Nokia Smart Phone, with Caller ID"
4,TEC-PH-10004583,Tecnologia,Phones,"Motorola Smart Phone, Cordless"